
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <div *ngIf="!user" class="logged-out">
      You are not logged in.
    </div>
    <div *ngIf="user" class="logged-in">
      You are logged in.
  </div>


  <div class="container">
    <div class="container">
<table class="table bordered">
  <tr>
    <td></td>
    <th>Name</th>
    <th>Age</th>
    <th>Clasification</th>
    <th>Race</th>
    <th>Creacion</th>
    <th>Modificacion</th>

  </tr>
  <tr *ngFor="let pet of pets" >
      <td>
        <a title="Editar Pet" routerLink="/detail/{{pet._id}}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a title="Eliminar Pet"   (click)="delete(pet)" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
      </td>
      <td>{{pet.name}}</td>
      <td>{{pet.age}}</td>
      <td>{{pet.clasification}}</td>
      <td>{{pet.race}}</td>
      <td>{{pet.fechaCreacion}}</td>
      <td>{{pet.fechaActualizacion}}</td>

  </tr>
</table>

</div>
</div>



<div class='container'>
    <h4>&nbsp;&nbsp;&nbsp;Registro Pet</h4><br><br>
    <input type="hidden" class="form-control" #pet_id id="_id" placeholder="">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" #petName id="name" placeholder="Nombre">
        </div>
      </div>
  
      <div class="form-group row">
          <label for="age" class="col-sm-2 col-form-label">Edad</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" #petAge id="age" placeholder="Edad">
          </div>
        </div>
  
        <div class="form-group row">
          <label for="clasification" class="col-sm-2 col-form-label">Clasificacion</label>
          <div class="col-sm-10">
          <select id="clasification" class="form-control">
            <option selected>Seleccione...</option>
            <option value="cedula">Perro</option>
            <option value="pasaporte">Gato</option>
            <option value="pasaporte">Hamster</option>
            <option value="pasaporte">Conejo</option>


          </select>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Raza</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" #petRace id="race" placeholder="Raza">
          </div>
        </div>
  
      
       
      <div class="form-group row">
        <div class="col-sm-10">
          <!-- <button type="submit" class="btn btn-primary">Enviar</button> -->
          <button class="btn btn-success" (click)="add(petName.value, petAge.value); ">
            add
          </button>
        </div>
      </div>
    
    </div>
